.about {
    display: flex;
    align-items: center;
    padding: 6rem 5rem;
    gap: 4rem;
    background-color: #F2E3BB;
  }
  
  .image {
    flex: 1;
    height: 450px;
    background-image: url("../../public/pageimage/aboutpage.png"); /* put image in public folder */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
  
  .content {
    flex: 1;
  }
  
  .content h2 {
    font-size: 2rem;
    color: #005F02;
    margin-bottom: 0.5rem;
  }
  
  .content h3 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  
  .content p {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #333;
  }
  
  .button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.8rem 1.6rem;
    background-color: #005F02;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    transition: 0.3s ease;
  }
  
  .button:hover {
    background-color: #427A43;
  }
  