.contact {
  max-width: 800px;
  margin: auto;
  padding: 4rem 1rem;
  min-height: 100vh !important;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input,
.form textarea {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.form button {
  background-color: #005f02;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.address {
  margin-top: 3rem;
}
