/* ===== Card Base ===== */

.card {
    border: 1px solid #eee;
    padding: 1rem;
    border-radius: 10px;
    background: white;
    transition: 0.3s;
    flex: 0 0 85%; /* 1 full card + peek of next */
    scroll-snap-align: start;
  }
  
  .card:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  }
  
  .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .content h3 {
    margin: 0.8rem 0 0.4rem;
    font-size: 1rem;
  }
  
  .content p {
    font-size: 0.9rem;
    color: #555;
  }
  
  .price {
    display: block;
    margin: 0.5rem 0;
    font-weight: bold;
    color: #005F02;
  }
  
  .button {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background: #005F02;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 0.9rem;
  }
  