.grid {
    max-width: 1200px;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

/* ======================= */
/* Page Heading */
/* ======================= */

.productHead {
    text-align: center;
    margin-top: 2rem;
  }
  
  .productHead h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #005f02;
  }
  